<main class='flex flex-col overflow-scroll scrollbar-hide' style=" max-height:100vh ">
   
    <div>
      <div class='mx-auto lg:max-w-6xl max-h-screen overflow-hidden'>
       <app-header></app-header>
      </div>
    </div>


    <!-- {/* Mid */} -->
    <div class='bg-zinc-100'>
      <div class='grid grid-cols-6 mx-auto lg:max-w-6xl'>
        <app-profile></app-profile>
       
        
        <!-- <Feed postData={posts} />
          <News /> -->
          <app-feed class="col-span-4 lg:col-span-3"></app-feed>
          <app-news></app-news>
      </div>
    </div>
  </main>